<body>

    <div class="grid">
        
        <div class="imagen col">
            <img src="{{producto.imagen}}">

        </div>
        <div class="cont col">
            <h4>{{producto.titulo}}</h4>
            <p>
                {{producto.descripcion}}
            </p>
        </div>
        <div class="precio col">
            Precio inicial:
            <h2>{{producto.precio}}</h2>
            <p>Cantidad que quiere ofrecer para pujar:</p>
            <input>
            <br>
            <button>PUJAR</button>
        </div>
    </div>

</body>