
  


  <p-toolbar styleClass="toolbarS" *ngIf="showBar">
    <div class="p-toolbar-group-left" style="background-color: rgb(255, 249, 233) !important" >
      
      <button  style="margin: 15px; border: none; background-color: rgb(255, 249, 233) !important;" (click)="goListado()"><img src="https://i.ibb.co/WWd57Rz/logo.png" width="85px" style="left: 10px" ></button>
      <p-dropdown icon="pi pi-bars" [options]="categories" [(ngModel)]="selectedCategory" optionLabel="name"></p-dropdown>
      <span class="p-input-icon-left" style="margin-left: 20px;">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Ejm: Patines"  size="40" />
      </span>
      <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-secondary" 
        style="background-color: rgb(255, 249, 233); color: black; margin-left: 15px;"></button>
    </div>
    
    <div class="p-toolbar-group-right" style="background-color: rgb(255, 249, 233) !important">
        
      <p-splitButton
        *ngIf="getIniciado(); else NoIniciado"
        label="Nuevo producto"
        icon="pi pi-user"
        [model]="userItems"
        styleClass="p-button-secondary p-mb-2 p-mr-2"
        (onClick)="goAddProducto()"
      ></p-splitButton>
      <ng-template #NoIniciado>
        <p-splitButton
          label="Iniciar sesion"
          icon="pi pi-user"
          [model]="inicioItems"
          styleClass="p-button-secondary p-mb-2 p-mr-2"
          (onClick)="goIniciarSesion()"
        ></p-splitButton>
      </ng-template>
      
    </div>
</p-toolbar>

<router-outlet></router-outlet>

<footer style="background-color: rgb(255, 249, 233); text-align: center;" >
  <br>
  <p>Subastas Online Ecuador</p>
  <br>
  <p-button label="Necesitas ayuda?"  icon="pi pi-question-circle" styleClass="p-button-link" (onClick)="goAyuda()"></p-button>
  <br>
  <p>Plataformas web</p>
</footer>