body{
    margin: 25px;
    
}

button{
    height: 20px;
    text-align: center;
    width: 200px;
    height: 30px;
    margin-top: 50px;
    border-color: #6DC7B9;
    background-color: #6DC7B9;

}

.btnEnviar{


    display: flex;
    position: relative;
    justify-content: center;

}
