
<body>
    <div class="card">
        <h2 class="flex align-items-center ">Formulario de ayuda</h2>
        <div class="hola formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="firstname6">Nombre</label>
                <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-12 md:col-6">
                <label for="lastname6">Correo</label>
                <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-12">
                <label for="address">Mensaje</label>
                <textarea id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
            </div>
            
            
        </div>
        
    </div>
    <div class="btnEnviar">
        <button >Enviar</button>
    </div>
    
    </body>